.quarto-title-block .quarto-title-banner {
  background-image: url(neg.logo.png);
  background-size: 100px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 180px;
  background-origin: content-box;
}